.fondo {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;

    background: linear-gradient(129.93deg, #024873 13.04%, #0396A6 36.59%, #04BFAD 56.03%, #F28963 71.02%, #F25E5E 84.48%);
}

.titulo {
    display: flex;
    width: 40%;
    height: 100%;
    padding-left: 10%;
    justify-content: center;
    align-items: center;
    
    
}
.titulo h1 {
    font-family: 'Balsamiq Sans', cursive;
    color:white;
    font-size:60px;
}