body {
    font-family: 'Roboto', sans-serif;
}
.text-muted {
    color: #AFABAB;
}
.btn {
	border-radius: 50px;
  &.btn-lg {
    padding-left: 35px;
    padding-right: 35px;
  }
	&.btn-primary {
		background-color: #024873;
	}
}
a {
	color: #04BFAD;
	&:hover {
		text-decoration: underline;
	}
}